html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background-image: url("../images/tropics.jpg");
    min-height: 100vmin;
}

nav {
    background-color: rgb(206, 238, 227);
    padding: 20px;
    border-bottom: 5px solid white;
    text-align: center;
    font-size: 2em;
    color: rgb(43, 117, 119);
}

main {
    margin: 30px 25%;
    padding: 50px;
    background-color: rgb(206, 238, 227);
    min-height: 50vh;
}

footer {
    text-align: center;
    background-color: rgb(206, 238, 227);
    padding: 20px;
    border-top: 5px solid white;
}

h1 {
    text-align: center;
}
h2 {
    color: rgb(4, 91, 94);
}
h5 {
    color: #777;
}

input,
select {
    width: 95%;
    display: inline-block;
    border-radius: 1em;
    padding: 5px 1em;
    border: 2px solid rgb(43, 117, 119);
    margin-bottom: 1em;
}

legend {
    font-weight: bold;
    color: rgb(43, 117, 119);
}

fieldset {
    background-color: rgba(206, 211, 238, 0.226);
    margin: 20px 0;
}

input[type='submit'] {
    font-size: 1.5em;
    margin-top: 1em;
}

input[type='radio'],
input[type='checkbox'],
label {
    width: auto;
}
.mini-image {
    height: auto;
    width: 100%;
}

.required-field {
    color: red;
}
label {
    color: rgb(2, 67, 70);
}